h1 a {
    color: red;
    font-family: 'Courgette', cursive;
}
body {
    padding-left: 0px;
    background-image: url(Б.png);
    background-size: 105%;


}
.page-header {
    background-color: violet;
    opacity: 50%;
    margin-top: 0px;
    padding: 5px 5px 5px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: red;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

 h2, h3, h4 {
    font-family: 'Courgette', cursive;

}

.date {
    color: black;
}

.save {
    float: right;
}
p { background: -webkit-linear-gradient(left, red , yellow,black);
   background: -o-linear-gradient(right,red , yellow,black);
   background: -moz-linear-gradient(right, red , yellow,black);
   background: linear-gradient(to right, red , yellow,black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-size:18pt;
font-family:font-family: 'Courgette', cursive;

}
h1{
 background: -webkit-linear-gradient(left, red , yellow);
   background: -o-linear-gradient(right, red, yellow);
   background: -moz-linear-gradient(right, red, yellow);
   background: linear-gradient(to right, red , yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.top-menu, .top-menu:hover, .top-menu:visited {
    color: black;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
.post {
    margin-bottom: 70px;
}
.post h1 a, .post h1 a:visited {
 background: -webkit-linear-gradient(left, red , yellow,violet);
   background: -o-linear-gradient(right,red , yellow,violet);
   background: -moz-linear-gradient(right, red , yellow,violet);
   background: linear-gradient(to right, red , yellow,violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.images{
    background: no-repeat url("man-tennis.png");
    background-size: contain;
    height:500px;
    width : 400px;
}
.post-form textarea, .post-form input {
    width: 100%;
    color: black;
}
.post-form p{
color: black;}

#id_title{
color: black;
}
input {
color: black;}
